/***************************
below 1200px screens
  1200 / 16px = 59
***************************/
@media (max-width: 75em) {
  html {
    /* 9px
    9px / 16px =  */
    font-size: 56.25%;
  }

  .container--flex-top {
    justify-content: space-between;
  }
}

/***************************
below 920px screens
  920 / 16px = 57.5
***************************/
@media (max-width: 57.5em) {
  .container {
    width: 90rem;
  }
  html {
    /* 8px / 16px =  */
    font-size: 50%;
  }
  /* ICON MOBILE */
  .btn-mobile-nav {
    display: block;
    z-index: 9999;
  }

  .icon-mobile-nav[name="menu"] {
    display: block;
  }

  .main-nav {
    background-color: rgba(255, 255, 255, 0.97);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);
    z-index: 9999;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: all 0.5s ease-in;

    /* hide navigation*/
    /* display: none; could work, but we cant do animation like transition */

    /* step 1: hide it visually */
    opacity: 0;
    /* step 2: make it unaccessible to mouse and keyboard tab */
    pointer-events: none;
    /* step 3: hide it from screen readers */
    visibility: hidden;
    /* hidden */
  }
  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }
  .nav-open .icon-mobile-nav[name="close"] {
    display: block;
  }
  .nav-open .icon-mobile-nav[name="menu"] {
    display: none;
  }

  .main-nav-list {
    flex-direction: column;
    gap: 4.8rem;
  }
  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 3rem;
  }
}
/***************************
below 740px screens
  740 / 16px = 46.25
***************************/
@media (max-width: 46.25em) {
  .container {
    width: 65rem;
  }
  .logo {
    padding: 0;
  }

  .grid-main {
    display: grid;
    grid-template-columns: min-content;
    grid-template-areas:
      "h1"
      "img";
    padding: 2.4rem;
  }
  .subhead-text {
    grid-area: h1;
    display: block;
    width: 100%;
    position: static;
  }
  .main-img {
    width: 25rem;
    grid-area: img;
    border-radius: 9px;
    justify-self: center;
    box-shadow: 0 0 3rem rgba(0, 0, 0, 0.2);
    transform: scale(1);
    margin-top: 1.2rem;
  }
  .section-main {
    margin: 4.8rem 0;
  }
  .grid-what {
    /* grid-template-columns: 1fr; */
    row-gap: 9.6rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "design-img"
      "design-box"
      "e-commerce-img"
      "e-commere-box"
      "wordress-img"
      "wordpress-box";

    justify-content: center;
    align-items: center;
    margin-bottom: 9.6rem;
  }
  .work-img {
    transform: translateY(15%);
  }
  .grid-who {
    grid-template-columns: 1fr;
    border-radius: 11px;
    background-position: bottom;
  }
  .who-img {
    width: 100%;
    grid-row: 1;
    background-position: center top;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;
  }
  .who-text-box {
    padding: 4.8rem;
  }
  .accordion {
    width: 100%;
  }
  .accordion-description {
    width: 100%;
  }

  /* Sticky nav */
  .sticky-nav .header {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 5.6rem;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    background-color: rgba(255, 255, 255, 0.97);
    z-index: 999;
    box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.1);
  }
  .sticky-nav .section-main {
    /* 5.6rem nav hieght + 9.6margin + 3.2 topmargin of header*/
    margin-top: 13rem;
  }
  .container--flex-top {
    margin: 0 auto;
  }
  .section-what {
    margin-top: 0;
  }
}
/***************************
below 550px screens
  550 / 16px = 34.38
***************************/
@media (max-width: 34.38em) {
  .container {
    width: 50rem;
  }
}
/***************************
below 320px screens
  320 / 16px = 34.38
***************************/
@media (max-width: 20em) {
  .container {
    width: 30rem;
  }
  .who-img {
    height: 25rem;
  }
  .accordion-header {
    flex-direction: column;
    text-align: center;
    gap: 2.4rem;
  }
  .footer .heading-secondary {
    font-size: 2rem;
  }
}
